.radio {
  margin: 0;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #dce2e9;
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
}

.radio:checked {
  border: 1px solid #7310ff;
}

.radio:checked::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7310ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioDark {
  border: 1px solid #343c44;
}

.radioDark:checked {
  border: 1px solid #ab6fff;
}

.radioDark:checked::before {
  background: #ab6fff;
}
