html,
body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

.btn-disabled>button[disabled] {
  background-color: #a7afe9 !important;
  color: white !important;
}

.btn-disabled>button[disabled]:hover {
  background-color: #a7afe9 !important;
}