name: starship-dev
version: 0.2.10

chains:
  - id: test-osmosis-1
    name: osmosis
    numValidators: 1
    ports:
      rest: 1317
      rpc: 26657
      faucet: 8007
  - id: test-cosmoshub-4
    name: cosmoshub
    numValidators: 1
    ports:
      rest: 1313
      rpc: 26653
      faucet: 8003

relayers:
  - name: osmosis-cosmoshub
    type: hermes
    replicas: 1
    chains:
      - test-osmosis-1
      - test-cosmoshub-4

registry:
  enabled: true
  ports:
    rest: 8081

explorer:
  enabled: true
  ports:
    rest: 8080
